/***************** Selectors *****************/

body
{
  background-color: #616161;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  text-align: center;
}

/***************** Classes *****************/
.title-container
{
  margin: 1% auto;
}
.game-container
{
  margin: 5% auto;
  padding: 10px;
  width: 600px;
}

.victory-flash
{
  background-color: #9E9E9E;
}
/***************** IDs *****************/

#canvas
{
  background-color: #6B9BCE;
}
